{% extends 'base.html' %}

 {% block content %}
 <section class="section">
   <div class="container">
     <div class="columns">
     <div class="column is-one-third">
       <h1 class="title">{{title}}</h1>
     </div>
     <div class="column">
       <div class="columns is-multiline">
         {% if title != 'Products' %}
            <div class="column is-narrow">
               <a href="/products">All Products</a>
           </div>
         {% endif %}
         {% for category in categories %}
         {% if category.name != title %}
            <div class="column is-narrow">
               <a href="{{category.url}}">{{category.name}}</a>
           </div>
         {% endif %}
       {% endfor %}
       </div>
       </nav>
     </div>
     </div>

   {% if image %}
     <section class="section">
       <div class="container">
         <figure class="image">
           <img src="/{{image}}">
         </figure>
       </div>
     </section>
   {% endif %}

   {% if content %}
     <section class="section">
         <div class="content">
           {{content}}
         </div>
       </div>
     </section>
   {% endif %}

     <div class="container">
       <table class="table is-bordered">
         <thead>
           <tr>
               <th>Category</th>
               <th>Item Number</th>
               <th>Product</th>
               <th>SDS</th>
               <th>Spec Sheet</th>
               <th>Ingredients</th>
           </tr>
         </thead>
         <tbody>
   {% for product in pages %}
   <tr>
   <th>{{product.category}}</th>
   <th>{{product.waxie_item_number}}</th>
   <th>
         <h1 class=""><a href="/{{product.slug}}">{{product.title}}</a></h1>
   </th>
     <td>
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       <a href="{{product.spec_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       {#
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
       #}
     </td>
   </tr>
    {% endfor %}
         </tbody>
       </table>
   <div>
 </section>
{% endblock %}
