{% extends 'base.html' %}

 {% block content %}
 <section class="section">
   <div class="container">
     <div class="box">
       <nav class="navbar">
         <div class="navbar-brand">
           <h1 class="navbar-item title is-1">All {{title}}</h1>
         </div>
         <div class"navbar-menu">
       {% for category in categories %}
         {% if category.name != title %}
       <div class="navbar-item">
         <a href="{{category.url}}">{{category.name}}</a>
       </div>
         {% endif %}
       {% endfor %}
       </div>
       </nav>
     </div>

     <section class="section">
       <div class="container">
         <div class="content">
           {{content}}
         </div>
       </div>
     </section>

     <div class="container">
       <table class="table is-bordered is-fullwidth">
         <thead>
           <tr>
             {% if title == 'Products' %}
               <th>Category</th>

               {% else %}

               <th>Item Number</th>

               {% endif %}
             <th>Product</th>
             <th>SDS</th>
             <th>Spec Sheet</th>
             <th>Ingredients</th>
           </tr>
         </thead>
         <tbody>
   {% for product in pages %}
   <tr>
   {% if title == 'Products' %}
   <th>{{product.category.title()}}</th>
   {% else %}
   <th>{{product.waxie_item_number}}</th>
   {% endif %}
     <th>
         <h1 class="title is-5"><a href="/{{product.slug}}">{{product.title}}</a></h1>
     </th>
     <td>
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       <a href="{{product.spec_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       {#
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
       #}
     </td>
   </tr>
    {% endfor %}
         </tbody>
       </table>
   <div>
 </section>
{% endblock %}
