{% extends 'base.html' %}

 {% block content %}
 <section class="section">
   <div class="container">
     <div class="box">
       <nav class="navbar">
         <div class="navbar-brand">
           <h1 class="navbar-item title is-1">{{title}}</h1>
         </div>
         <div class"navbar-menu">
       {% for category in categories %}
         {% if category not in title %}
       <div class="navbar-item">
         <a href="/all_{{category}}">{{category}}</a>
       </div>
         {% endif %}
       {% endfor %}
       </div>
       </nav>
     </div>

     <section class="section">
       <div class="container">
         {{content}}
       </div>
     </section>

   {% for product in products %}
     <div class="card">
       <div class="card-image">
       <figure class="image is-64x64">
         <a href="/{{product.image}}">
           <img src"{{product.image}}">
         </a>
       </figure>
       </div>
       <div class="card-content">
         <h2 class="subtitle is-uppercase is-5">{{product.category}}</h2>
         <h1 class="title is-5"><a href="/{{product}}">{{product.title}}</a></h1>
       </div>
     </div>
    {% endfor %}
   <div>
 </section>
{% endblock %}
