<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/4ac674b58e.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div>
      <nav class="navbar">
        <div class="navbar-brand"><h1 class="navbar-item title is-3"><a
                                      href="/"><img src="/static/images/logo.png"></a>
        </div>

        <div class="navbar-menu">
         {% for link in categories %}
          <div class="navbar-item">
            <a href="{{link.url}}">{{link.name}}</a>
          </div>
          {% endfor %}
        </div>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
