<div class="footer">
  <h2>Follow WAXIE</h2>
    <nav class="navbar">
      <a class="navbar-item"><span class="icon"><i class='fab fa-facebook'></i></span></a>
      <a class="navbar-item"><span class="icon"><i class="fab fa-twitter"></i></span></a>
      <a class="navbar-item"><span class="icon"><i class="fab fa-youtube"></i></span></a>
      <a class="navbar-item"><span class="icon"><i class="fab fa-linkedin"></i></span></a>
    </nav>
  <h2>About WAXIE</h2>
    <div class="columns is-multiline">
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class='fas
            fa-map-marked-alt'></i></span> WAXIE Locations</a>
    </div>
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class="fas fa-certificate"></i></span>Capabilities</a>
    </div>
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class="fas fa-ribbon"></i></span>Making Strides Against Cancer </a>
    </div>
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class="fas fa-newspaper"></i>WAXIE News</span></a>
    </div>
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class="fas fa-book"></i></span>WAXIE History</a>
    </div>
      <div class="column is-narrow">
      <a class="navbar-item"><span class="icon"><i class="fas fa-user-tie"></i></span>Executive Management</a>
    </div>
</div>
 


