{% extends 'base.html' %}
{% block content %}
<div class="hero">
  <div class="hero-body">
         <figure class="image 16by9">
           <img src="/static/images/person-looking-searching-clean-2371.jpg">
         </figure>
  </div>
</div>
<section class="container">
  <div class="tile is-ancestor">
    <div class="tile is-4">
       <a class="button is-link">Learn More</a>
     </div>

    <div class="tile is-4">
       <a class="button is-link">Learn More</a>
     </div>

    <div class="tile is-4">
      <a class="button is-link">Learn More</a>
    </div>
 </div>


     <div>
     <h1 class="title is-2">WAXIE Ultra Products</h1>
     {% for product in products %}
     <h2 class="subtitle is-5"><a href="{{product}}">{{product.title}}</a></h2>
     {% endfor %}
     </div>
</section>
{% endblock %}
