{% extends 'base.html' %}
{% block content %}
<div class="hero">
  <div class="hero-body">
         <figure class="image 16by9">
           <img src="/static/images/person-looking-searching-clean-2371.jpg">
         </figure>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="box">
        <h1 class="subtitle is-2">Laundry</h1>
           <a class="button is-link">Learn More</a>
       </div>
       </div>

    <div class="column has-text-centered">
        <div class="box">
        <h1 class="subtitle is-2">HouseKeeping</h1>
         <a class="button is-link">Learn More</a>
       </div>
       </div>

      <div class="column has-text-centered">
        <div class="box">
        <h1 class="subtitle is-2">Warewash</h1>
        <a class="button is-link">Learn More</a>
      </div>
       </div>
   </div>
   </div>
</section>

<section class="section">
  <div class="container">

    <div class="media">
      <figure class="media-left image is-1by1">
        <img src="/static/images/man-using-macbook-on-wooden-table-2010806.jpg">
      </figure>
      <div class="media-content">
        <h1 class="title is-1">Lorem Ipsum</h1>
      </div>
    </div>

  </div>
</section>

<section class="section">
     <div class="container">
     <h1 class="title is-2">WAXIE Ultra Products</h1>
     {% for product in products %}
     <h2 class="subtitle is-5"><a href="{{product}}">{{product.title}}</a></h2>
     {% endfor %}
     </div>
{% endblock %}
