{% extends 'base.html' %}
{% block content %}
<div class="hero is-large">
  <div class="hero-body">
    <h1 class="title is-1">WAXIE Ultra</h1>
  </div>
</div>
<section class="section">
  <div class="container">
  <div class="columns">
     <div class="column">
       <div class="hero is-large is-info">
         <h1 class="title is-1">Laundry</h1>
      <div class="container">
           <p class"content">Lorem Ipsum Dolor and Other Things</p>
       </div>
       </div>
     </div>

       <div class="column">
         <div class="hero is-large is-info">
           <h1 class="title is-1">HouseKeeping</h1>
         <div class="container">
           <p class"content">Lorem Ipsum Dolor and Other Things</p>
           </div>
           </div>
       </div>

       <div class="column">
         <div class="hero is-large is-info">
           <h1 class="title is-1">Warewash</h1>
         <div class="container">
           <p class"content">Lorem Ipsum Dolor and Other Things</p>
           </div>
         </div>
       </div>

     </div>
     <div>
     <h1 class="title is-2">WAXIE Ultra Products</h1>
     {% for product in products %}
     <h2 class="subtitle is-5"><a href="{{product}}">{{product.title}}</a></h2>
     {% endfor %}
     </div>
</section>
{% endblock %}
