{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
     <h2 class="subtitle is-5 is-capitalized">{{category}}</h2>
     <h1 class="title is-2">{{title}} <span class="subtitle is-5">{{waxie_item_number}}</span></h1>
<figure class="image">
  <img class="" style="max-height: 250em;" src="static/images/160116.jpg">
</figure>
<section class="section">
</section>
<div class="content">
  {{content}}
</div>
<div class="notification">
  <h1 class="subtitle is-4">Downloads:</h1>
  <div class="level">
    <div class="level-item">
      <div class="card">
        <div class="card-image">
          <figure class="image is-128x128 has-text-centered">
            <img src="/static/images/report_icon.png">
          </figure>
        </div>
        <div class="card-footer">
          <h1 class="subtitle is-5 card-footer-item"><a href="{{spec_sheet}}">Spec Sheet</a></h1>
        </div>
      </div>
    </div>

    <div class="level-item">
      <div class="card">
        <div class="card-image">
          <figure class="image is-128x128 has-text-centered">
            <img src="/static/images/caution_icon.png">
          </figure>
        </div>
        <div class="card-footer">
          <h1 class="subtitle is-5 card-footer-item"><a class="{{sds}}">Safety Data Sheet</a></h1>
        </div>
      </div>
    </div>

  <div class="level-item">
    <div class="card">
      <div class="card-image has-text-centered">
        <figure class="image is-128x128">
          <img src="/static/images/beaker_icon.png">
        </figure>
      </div>
      <div class="card-footer">
        <h1 class="subtitle is-5 card-footer-item"><a class="{{ingredients}}">Ingredients Disclosure</a></h1>
      </div>
    </div>
  </div>
</div>
</div>

{% if category %}
  <h1 class="title is-5 is-capitalized"><a href="/all_{{category}}">View More {{category}} Items</a></h1>
  {% else %}
  <h1 class="title is-5 is-capitalized"><a href="/all_posts">View More Items</a></h1>
{% endif %}
  </figure>

  </div>
</section>
{% endblock %}
